@font-face {
  font-family: "Intern";
  src: url("fonts/Inter.ttf");
}
body {
  margin: 0;
  height: 1024px;
  width: 100%;
}
body .home {
  width: 100%;
  height: 100%;
}
body .home .header {
  max-height: 80px;
  height: 80px;
  width: 100%;
  background-color: #ffffff;
}
body .home .header .brand {
  float: left;
  width: 22%;
  height: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: right;
  border: none;
  border-style: none;
  border-radius: 0px 0px 40px 0px;
}
body .home .header .brand p {
  font-weight: bolder;
  margin-top: 30px;
  float: right;
  font-family: "Inter";
  margin-right: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
body .home .header .navdiv {
  height: 100%;
  width: 70%;
  background-color: #ffffff;
  float: left;
}
body .home .header .navdiv .navlink {
  float: right;
  height: 100%;
  align-items: center;
}
body .home .header .navdiv .navlink .link {
  float: left;
  height: 100%;
  width: auto;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-width: 5px;
  border-color: #ffffff;
  padding-left: 1px;
  padding-right: -2px;
}
body .home .header .navdiv .navlink .link p {
  font-weight: bolder;
  margin-top: 30px;
  float: right;
  font-family: "Inter";
  margin-right: 25px;
  text-align: center;
}
body .home .header .navdiv .navlink .active {
  border-color: #ff5500;
}
body .home .header .collapse {
  height: 100%;
  width: 8%;
  background-color: #ff5500;
  float: right;
  font-size: xx-large;
  align-items: center;
  text-align: center;
}
body .home .header .collapse i {
  margin-top: 20px;
  color: #ffffff;
}
body .home .tx {
  max-height: 80px;
  height: 80px;
  width: 100%;
}
body .home .tx .t {
  width: 100%;
  height: 100%;
}
body .home .tx .t h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  margin-left: 6%;
  position: absolute;
  margin-top: 10%;
}
body .home .tx .t p {
  margin-left: 6%;
  margin-top: 22%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}
body .home .tx .t button {
  background-color: #ff5500;
  border: none;
  margin-top: 1%;
  margin-left: 195px;
  padding: 20px;
  text-align: center;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 19px;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}
body .home .tx .sr {
  justify-content: center;
}
body .home .tx .sr .im {
  position: relative;
  margin-left: 48.1%;
  margin-top: -6%;
  border-top-left-radius: 25%;
  height: 600px;
  width: 700px;
}
body .home .tx .ord {
  position: absolute;
  background-color: black;
  border: none;
  margin-top: -3%;
  margin-left: 47.9%;
  padding: 22px;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}
body .home .tx .ers {
  position: absolute;
  background-color: rgb(228, 228, 228);
  border: none;
  margin-top: -3%;
  margin-left: 56.6%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 19px;
  padding-bottom: 19px;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
  text-align: center;
  font-size: 31px;
  font-weight: 700;
  color: #ff5500;
  border-bottom-right-radius: 35px;
}
body .s_height {
  justify-content: center;
}
body .s_height .hen .ight {
  position: absolute;
  font-size: 240%;
  margin-top: -10.5%;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(243, 166, 22);
  margin-left: 1.5%;
}
body .s_height .hen .our {
  position: absolute;
  font-family: sans-serif;
  font-size: 2.45rem;
  margin-top: -7%;
  margin-left: 1.5%;
}
body .s_height .hen .see {
  position: absolute;
  margin-top: -10.5%;
  padding-left: 80%;
  font-size: 17.5px;
}
body .s_height .all {
  justify-content: center;
}
body .s_height .all .upside {
  text-align: center;
}
body .s_height .all .upside .divtxt {
  position: absolute;
  background-color: rgba(236, 236, 236, 0.8156862745);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -10%;
  width: 297px;
  height: 21%;
  margin-left: 2%;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
}
body .s_height .all .upside .divtxt .firsttxt {
  position: absolute;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-left: -43%;
  margin-top: 4%;
}
body .s_height .all .upside .divtxt .smalltxt {
  position: absolute;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 25%;
  margin-left: -43%;
}
body .s_height .all .upside .divtx {
  position: absolute;
  background-color: rgba(243, 166, 22, 0.808);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -10%;
  width: 297px;
  height: 21%;
  margin-left: 26%;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
}
body .s_height .all .upside .divtx .frsttxt {
  position: absolute;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-left: -43%;
  margin-top: 4%;
}
body .s_height .all .upside .divtx .smlltxt {
  position: absolute;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 25%;
  margin-left: -43%;
}
body .s_height .all .upside .ivtxt {
  position: absolute;
  background-color: rgba(236, 236, 236, 0.8156862745);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -10%;
  width: 297px;
  height: 21%;
  margin-left: 50.5%;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
}
body .s_height .all .upside .ivtxt .irsttxt {
  position: absolute;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-left: -43%;
  margin-top: 4%;
}
body .s_height .all .upside .ivtxt .malltxt {
  position: absolute;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 25%;
  margin-left: -43%;
}
body .s_height .all .upside .vtxt {
  position: absolute;
  background-color: rgba(236, 236, 236, 0.8156862745);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -10%;
  width: 297px;
  height: 21%;
  margin-left: 75%;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
}
body .s_height .all .upside .vtxt .rsttxt {
  position: absolute;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-left: -43%;
  margin-top: 4%;
}
body .s_height .all .upside .vtxt .alltxt {
  position: absolute;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 25%;
  margin-left: -43%;
}
body .s_height .all .down {
  text-align: center;
}
body .s_height .all .down .classtxt {
  position: absolute;
  background-color: rgba(236, 236, 236, 0.8156862745);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -10%;
  width: 297px;
  height: 21%;
  margin-left: 2%;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
}
body .s_height .all .down .classtxt .downttxt {
  position: absolute;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-left: -43%;
  margin-top: 4%;
}
body .s_height .all .down .classtxt .smalldown {
  position: absolute;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 25%;
  margin-left: -43%;
}
body .s_height .all .down .classtx {
  position: absolute;
  background-color: rgba(236, 236, 236, 0.8156862745);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -10%;
  width: 297px;
  height: 21%;
  margin-left: 26%;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
}
body .s_height .all .down .classtx .downtxt {
  position: absolute;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-left: -43%;
  margin-top: 4%;
}
body .s_height .all .down .classtx .smlldown {
  position: absolute;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 25%;
  margin-left: -43%;
}
body .s_height .all .down .lasstxt {
  position: absolute;
  background-color: rgba(236, 236, 236, 0.8156862745);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -10%;
  width: 297px;
  height: 21%;
  margin-left: 50.5%;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
}
body .s_height .all .down .lasstxt .owntxt {
  position: absolute;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-left: -43%;
  margin-top: 4%;
}
body .s_height .all .down .lasstxt .malldown {
  position: absolute;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 25%;
  margin-left: -43%;
}
body .s_height .all .down .asstxt {
  position: absolute;
  background-color: rgba(236, 236, 236, 0.8156862745);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -10%;
  width: 297px;
  height: 21%;
  margin-left: 75%;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
}
body .s_height .all .down .asstxt .ontxt {
  position: absolute;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-left: -43%;
  margin-top: 4%;
}
body .s_height .all .down .asstxt .alldown {
  position: absolute;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 25%;
  margin-left: -43%;
}
body .s_height3 {
  position: relative;
  justify-content: center;
  background-color: rgb(137, 164, 175);
  height: 100%;
  width: 100%;
  margin-top: 15%;
}
body .s_height3 .ip {
  position: absolute;
  margin-left: 15%;
  text-align: center;
  justify-content: center;
  background-color: #ffffff;
  width: 70%;
  height: 40%;
  margin-top: 8%;
}
body .s_height3 .ip .tat {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-align: left;
  margin-left: 70px;
}/*# sourceMappingURL=style.css.map */
