$primary : #ff5500;
$second : #000000;
$neut:#ffffff;


@font-face{
    font-family: 'Intern';
    src: url('fonts/Inter.ttf');
}

body{
    margin: 0;
    height: 1024px;
    width: 100%;


    .home{
        width: 100%;
        height: 100%;

        .header{
            max-height: 80px;
            height: 80px;
            width: 100%;
            background-color: $neut;
            .brand{
                float: left;
                width: 22%;
                height: 100%;
                background-color: $second;
                color: $neut;
                text-align: right;

                border: none;
                border-style: none;
                border-radius:0px 0px  40px 0px;

                p{
                    font-weight: bolder;
                    margin-top: 30px;
                    float: right;
                    font-family:"Inter";
                    margin-right: 25px;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
            .navdiv{
                height: 100%;
                width: 70%;
                background-color: $neut;
                float: left;

                .navlink{
                    float: right;
                    height: 100%;
                    align-items: center;
                    .link{
                        p{
                            font-weight: bolder;
                            margin-top: 30px;
                            float: right;
                            font-family:"Inter";
                            margin-right: 25px;
                            text-align: center;
                        }
                        float: left;
                        height: 100%;
                        width: auto;
                        border-style: solid;
                        border-left: none;
                        border-right: none ;
                        border-bottom: none;
                        border-width: 5px;

                        border-color: $neut;
                        padding-left: 1px;
                        padding-right: -2px;
                    }

                    .active{
                        border-color: $primary;
                    }
                    
                }
            }
            .collapse{
                height: 100%;
                width: 8%;
                background-color: #ff5500;
                float: right;
                font-size: xx-large;
                align-items: center;
                text-align: center;

                i{
                    margin-top: 20px;
                    color: $neut;
                }
            }
        }
        .tx{
            max-height: 80px;
            height: 80px;
            width: 100%;

            .t{
                width: 100%;
                height: 100%;
                
                h2{
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 70px;
                    margin-left: 6%;
                    position: absolute;
                    margin-top: 10%;    
                }
                p{
                    margin-left: 6%;
                    margin-top: 22%;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 22px;
                }
                button{
                    background-color: $primary;
                    border: none;
                    margin-top: 1%;
                    margin-left: 195px;
                    padding: 20px;
                    text-align: center;
                    border-bottom-right-radius: 10px;
                    border-top-left-radius: 19px;
                    font-size: 24px;
                    font-weight: 700;
                    color: $neut;
                }
            }

            .sr{
                justify-content: center;
                
                .im{
                    position: relative;
                    margin-left: 48.1%;
                    margin-top: -6%;
                    border-top-left-radius: 25%;
                    height: 600px;
                    width: 700px;
                }
         
            }
            .ord{
                position: absolute;
                background-color: black;
                border: none;
                margin-top: -3%;
                margin-left: 47.9%;
                padding: 22px;
                font-family: Arial, Helvetica, sans-serif;
                justify-content: space-between;
                // text-align: center;
                font-size: 24px;
                font-weight: 700;
                color: $neut;

            }
            .ers{
                position: absolute;
                background-color: rgb(228, 228, 228);
                border: none;
                margin-top: -3%;
                margin-left: 56.6%;
                padding-left: 25px;
                padding-right: 25px;
                padding-top: 19px;
                padding-bottom: 19px;
                font-family: Arial, Helvetica, sans-serif;
                justify-content: space-between;
                text-align: center;
                font-size: 31px;
                font-weight: 700;
                color: $primary;
                border-bottom-right-radius: 35px;
            }
            
        }
    }

    .s_height{
        justify-content: center;

        .hen{

            .ight{
                position: absolute;
                font-size: 240%;
                margin-top: -10.5%;
                font-family: Arial, Helvetica, sans-serif;
                color: rgb(243, 166, 22);
                margin-left: 1.5%;
            }
            .our{
                position: absolute;
                // font-size: 2rem;
                font-family: sans-serif;
                font-size: 2.45rem;
                margin-top: -7%;
                margin-left: 1.5%;
            }
            .see{
                position: absolute;
                margin-top: -10.5%;
                padding-left: 80%;
                font-size: 17.5px;
            }
            
        }
        .all{
            justify-content: center;

            .upside{
                text-align: center;

                
                .divtxt{
                    position: absolute;
                    background-color: #ecececd0;
                    font-family: Arial, Helvetica, sans-serif;
                    margin-top: -10%;
                    width: 297px; 
                    height: 21%;
                    margin-left: 2%;
                    border-bottom-right-radius: 35px;
                    border-bottom-left-radius: 35px;

                    .firsttxt{
                        position: absolute;
                        font-size: 25px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 700;
                        margin-left: -43%;
                        margin-top: 4%;
                    }

                    .smalltxt{
                        position: absolute;
                        font-size: 20px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 700;
                        margin-top: 25%;
                        margin-left: -43%;
                    }
                }

                .divtx{
                    position: absolute;
                    background-color: rgba(243, 166, 22, 0.808);
                    font-family: Arial, Helvetica, sans-serif;
                    margin-top: -10%;
                    width: 297px; 
                    height: 21%;
                    margin-left: 26%;
                    border-bottom-right-radius: 35px;
                    border-bottom-left-radius: 35px;

                    .frsttxt{
                        position: absolute;
                        font-size: 25px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 700;
                        margin-left: -43%;
                        margin-top: 4%;
                    }

                    .smlltxt{
                        position: absolute;
                        font-size: 20px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 700;
                        margin-top: 25%;
                        margin-left: -43%;
                    }
                }
                .ivtxt{
                    position: absolute;
                    background-color: #ecececd0;
                    font-family: Arial, Helvetica, sans-serif;
                    margin-top: -10%;
                    width: 297px; 
                    height: 21%;
                    margin-left: 50.5%;
                    border-bottom-right-radius: 35px;
                    border-bottom-left-radius: 35px;

                    .irsttxt{
                        position: absolute;
                        font-size: 25px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 700;
                        margin-left: -43%;
                        margin-top: 4%;
                    }

                    .malltxt{
                        position: absolute;
                        font-size: 20px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 700;
                        margin-top: 25%;
                        margin-left: -43%;
                    }
                }

                .vtxt{
                    position: absolute;
                    background-color: #ecececd0;
                    font-family: Arial, Helvetica, sans-serif;
                    margin-top: -10%;
                    width: 297px; 
                    height: 21%;
                    margin-left: 75%;
                    border-bottom-right-radius: 35px;
                    border-bottom-left-radius: 35px;

                    .rsttxt{
                        position: absolute;
                        font-size: 25px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 700;
                        margin-left: -43%;
                        margin-top: 4%;
                    }

                    .alltxt{
                        position: absolute;
                        font-size: 20px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 700;
                        margin-top: 25%;
                        margin-left: -43%;
                    }
                }
            }
            .down{
                text-align: center;

                
                .classtxt{
                    position: absolute;
                    background-color: #ecececd0;
                    font-family: Arial, Helvetica, sans-serif;
                    margin-top: -10%;
                    width: 297px; 
                    height: 21%;
                    margin-left: 2%;
                    border-bottom-right-radius: 35px;
                    border-bottom-left-radius: 35px;

                    .downttxt{
                        position: absolute;
                        font-size: 25px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 700;
                        margin-left: -43%;
                        margin-top: 4%;
                    }

                    .smalldown{
                        position: absolute;
                        font-size: 20px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 700;
                        margin-top: 25%;
                        margin-left: -43%;
                    }
                }

                .classtx{
                    position: absolute;
                    background-color: #ecececd0;
                    font-family: Arial, Helvetica, sans-serif;
                    margin-top: -10%;
                    width: 297px; 
                    height: 21%;
                    margin-left: 26%;
                    border-bottom-right-radius: 35px;
                    border-bottom-left-radius: 35px;

                    .downtxt{
                        position: absolute;
                        font-size: 25px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 700;
                        margin-left: -43%;
                        margin-top: 4%;
                    }

                    .smlldown{
                        position: absolute;
                        font-size: 20px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 700;
                        margin-top: 25%;
                        margin-left: -43%;
                    }
                }
                .lasstxt{
                    position: absolute;
                    background-color: #ecececd0;
                    font-family: Arial, Helvetica, sans-serif;
                    margin-top: -10%;
                    width: 297px; 
                    height: 21%;
                    margin-left: 50.5%;
                    border-bottom-right-radius: 35px;
                    border-bottom-left-radius: 35px;

                    .owntxt{
                        position: absolute;
                        font-size: 25px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 700;
                        margin-left: -43%;
                        margin-top: 4%;
                    }

                    .malldown{
                        position: absolute;
                        font-size: 20px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 700;
                        margin-top: 25%;
                        margin-left: -43%;
                    }
                }

                .asstxt{
                    position: absolute;
                    background-color: #ecececd0;
                    font-family: Arial, Helvetica, sans-serif;
                    margin-top: -10%;
                    width: 297px; 
                    height: 21%;
                    margin-left: 75%;
                    border-bottom-right-radius: 35px;
                    border-bottom-left-radius: 35px;

                    .ontxt{
                        position: absolute;
                        font-size: 25px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 700;
                        margin-left: -43%;
                        margin-top: 4%;
                    }

                    .alldown{
                        position: absolute;
                        font-size: 20px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 700;
                        margin-top: 25%;
                        margin-left: -43%;
                    }
                }

                
            }
        }
    }

    .s_height3{
        position: relative;
        justify-content: center;
        background-color: rgb(137, 164, 175);
        height: 100%;
        width: 100%;
        margin-top: 15%;

        .ip{
            position: absolute;
            margin-left: 15%;
            text-align: center;
            justify-content: center;
            background-color: #ffffff;
            width: 70%;
            height: 40%;
            margin-top: 8%;


            .tat{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 40px;
                text-align: left;
                margin-left: 70px;

            }

        }
    }
}
